{% extends 'backend/base.html' %}

{% block sidebar %}
<ul class="list-unstyled">
    <li><a href="{% url 'IndexBE' %}"> <i class="icon-home"></i>Home </a></li>
    <li><a href="{% url 'UserIndexBE' %}"><i class="icon-user-outline"></i>Members </a></li>
    <li><a href="{% url 'UserAddBE' %}"><i class="icon-new-file"></i>Add Members </a></li>
    <li><a href="{% url 'OrderIndexBE' %}"><i class="fa fa-bar-chart"></i>Order </a></li>
    <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
            <i class="icon-windows"></i>Commodity Manage </a>
        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
            <li><a href="{% url 'TypeIndexBE' %}">Browse Category</a></li>
            <li><a href="{% url 'TypeAddBE' 0 %}">Add Category</a></li>
            <li><a href="{% url 'GoodsIndexBE' %}">Commodity Info</a></li>
            <li><a href="{% url 'GoodsAddBE' %}">Commodity Addition</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block mainbody %}
<!-- Page Header-->
<div class="page-header no-margin-bottom">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Edit Commodity Information</h2>
    </div>
</div>
<!-- Breadcrumb-->
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'IndexBE' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'GoodsIndexBE' %}">Commodity</a></li>
        <li class="breadcrumb-item active">Edit Commodity Information </li>
    </ul>
</div>
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="block">
                    <div class="title"><strong>Edit Commodity Information</strong></div>
                    <div class="block-body">
                        <form id="edit-profile" action="{% url 'GoodsUpdateBE' goods.id %}"
                            class="form-horizontal" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group-material">
                                        <input id="commodity-name" type="text" name="commodityName" required
                                            class="input-material" value="{{ goods.goods }}">
                                        <label for="commodity-name" class="label-material">CommodityName</label>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group-material">
                                        <input id="manufacturer" type="text" name="Manufacturer" required
                                            class="input-material" value="{{ goods.company }}">
                                        <label for="manufacturer" class="label-material">Manufacturer </label>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group-material">
                                        <input id="unit-price" type="text" name="unitPrice" required
                                            class="input-material" value="{{ goods.price }}">
                                        <label for="unit-price" class="label-material">UnitPrice </label>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group-material">
                                        <input id="inventory" type="text" name="Inventory" required
                                            class="input-material" value="{{ goods.store }}">
                                        <label for="inventory" class="label-material">Inventory </label>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group-material">
                                        <input id="product-introduction" name="productIntroduction" required
                                            class="input-material" value="{{ goods.content }}">
                                        <label for="product-introduction" class="label-material">ProductIntroduction
                                        </label>
                                    </div>
                                    <div class="line"></div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <br><br><br><br><br><br>
                            <div class="form-group row">
                                <div class="col-sm-12 ml-auto">
                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}