{% extends 'backstage/base.html' %}

{% block mainbody %}
<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Operation Information Prompt</h2>
    </div>
</div>
<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="statistic-block block">
                    <div class="progress-details d-flex align-items-end justify-content-between">
                        <div class="title">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}