{% extends 'backstage/base.html' %}

{% block sidebar %}
<li><a href="{% url 'backstage_index' %}"> <i class="icon-home"></i>Home </a></li>
<li class="active"><a href="{% url 'backstage_users_index' %}"><i class="icon-user-outline"></i>Members </a></li>
<li><a href="{% url 'backstage_users_add' %}"><i class="icon-new-file"></i>Add Members </a></li>
<li><a href="charts.html"><i class="fa fa-bar-chart"></i>Chart </a></li>
<li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
        <i class="icon-windows"></i>Commodity Manage </a>
    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
        <li><a href="#">Browse Category</a></li>
        <li><a href="#">Add Category</a></li>
        <li><a href="#">Commodity Info</a></li>
        <li><a href="#">Commodity Addition</a></li>
    </ul>
</li>
{% endblock %}

{% block mainbody %}
<!-- Page Header-->
<div class="page-header no-margin-bottom">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Add Member Information</h2>
    </div>
</div>
<!-- Breadcrumb-->
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'backstage_index' %}">Home</a></li>
        <li class="breadcrumb-item active">Add Member Information </li>
    </ul>
</div>
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="block">
                    <div class="title"><strong>Member Information Form</strong></div>
                    <div class="block-body">
                        <form id="edit-profile" action="{% url 'backstage_users_insert' %}" class="form-horizontal"
                            method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group-material">
                                        <input id="register-username" type="text" name="registerUsername" required
                                            class="input-material">
                                        <label for="register-username" class="label-material">Username</label>
                                    </div>
                                    <div class="form-group-material">
                                        <input id="register-password" type="password" name="registerPassword" required
                                            class="input-material">
                                        <label for="register-password" class="label-material">Password </label>
                                    </div>
                                    <div class="form-group-material">
                                        <input id="confirm-password" type="password" name="confirmPassword" required
                                            class="input-material" onkeyup="validate()"><span id="Warning"></span>
                                        <label for="confirm-password" class="label-material">Confirm Password </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Gender</label>
                                <div class="col-sm-9">
                                    <div class="i-checks">
                                        <input id="MaleRadio" type="radio" checked="" value="1" name="gender"
                                            class="radio-template">
                                        <label for="MaleRadio">Male</label>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input id="FemaleRadio" type="radio" value="0" name="gender"
                                            class="radio-template">
                                        <label for="FemaleRadio">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group-material">
                                        <input id="register-name" type="text" name="registerName" required
                                            class="input-material">
                                        <label for="register-name" class="label-material">Real Name </label>
                                    </div>
                                    <div class="form-group-material">
                                        <input id="register-email" type="email" name="registerEmail" required
                                            class="input-material">
                                        <label for="register-email" class="label-material">Email </label>
                                    </div>
                                    <div class="form-group-material">
                                        <input id="register-phone" type="text" name="registerPhone" required
                                            class="input-material">
                                        <label for="register-phone" class="label-material">Phone </label>
                                    </div>
                                    <div class="form-group-material">
                                        <input id="register-address" type="text" name="registerAddress" required
                                            class="input-material">
                                        <label for="register-address" class="label-material">Address </label>
                                    </div>
                                    <div class="form-group-material">
                                        <input id="register-zip" type="text" name="registerZip" required
                                            class="input-material">
                                        <label for="register-zip" class="label-material">Zip </label>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <br><br><br><br><br><br>
                            <div class="form-group row">
                                <div class="col-sm-12 ml-auto">
                                    <button type="reset" class="btn btn-secondary">Cancel</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function validate() {
        var pwd1 = document.getElementById("register-password").value;
        var pwd2 = document.getElementById("confirm-password").value;

        if (pwd1 != pwd2) {
            document.getElementById("Warning").innerHTML = "<font color='red'>The password doesn't match</font>";
            document.getElementById("button").disabled = true;
        } else {
            document.getElementById("Warning").innerHTML = "";
        }
    }
</script>
{% endblock %}