{% extends 'backstage/base.html' %}

{% block sidebar %}
<ul class="list-unstyled">
    <li><a href="{% url 'backstage_index' %}"> <i class="icon-home"></i>Home </a></li>
    <li class="active"><a href="{% url 'backstage_users_index' %}"><i class="icon-user-outline"></i>Members </a></li>
    <li><a href="{% url 'backstage_users_add' %}"><i class="icon-new-file"></i>Add Members </a></li>
    <li><a href="charts.html"><i class="fa fa-bar-chart"></i>Chart </a></li>
    <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
            <i class="icon-windows"></i>Commodity Manage </a>
        <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
            <li><a href="{% url 'backstage_types_index' %}">Browse Category</a></li>
            <li><a href="{% url 'backstage_types_add' 0 %}">Add Category</a></li>
            <li><a href="{% url 'backstage_goods_index' %}">Commodity Info</a></li>
            <li><a href="{% url 'backstage_goods_add' %}">Commodity Addition</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block mainbody %}
<!-- Page Header-->
<div class="page-header no-margin-bottom">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Membership Details</h2>
    </div>
</div>
<!-- Breadcrumb-->
<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'backstage_index' %}">Home</a></li>
        <li class="breadcrumb-item active">Membership Details </li>
    </ul>
</div>
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="block">
                    <div class="title"><strong>Members</strong></div>
                    <form action="{% url 'backstage_users_index' %}" method="get">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-1"><label class="form-control-label">KEY：</label></div>
                                <div class="col-lg-2"><input type="text" name="keyword"
                                        value="{{ request.GET.keyword }}" class="input-material" placeholder="ACC/NAME"
                                        style="height: 10px; width: 100px;">
                                </div>
                                <div class="col-lg-2"><label class="form-control-label col-lg-1">GENDER：</label></div>
                                <div class="col-lg-3">
                                    <select name="sex" class="form-control"
                                        style="height: 30px; width: 100px; font-size: 13px; padding: 0px 10px;">
                                        <option value="">All</option>
                                        <option value="1" {% if request.GET.sex == '1' %}selected{% endif %}>Male
                                        </option>
                                        <option value="0" {% if request.GET.sex == '0' %}selected{% endif %}>Female
                                        </option>
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <button type="submit" class="btn btn-primary"
                                        style="height: 30px; width: 80px; line-height: 0px;">Search</button>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn btn-secondary"
                                        style="height: 30px; width: 60px; line-height: 0px;">
                                        <a href="{% url 'backstage_users_index' %}"
                                            style="text-decoration: none; color: white;">All</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Joindate</th>
                                    <th>Status</th>
                                    <th>Operation</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vo in userslist %}
                                <tr>
                                    <th scope="row">{{ vo.id }}</th>
                                    <td>{{ vo.username }}</td>
                                    <td>{{ vo.name }}</td>
                                    <td>
                                        {% if vo.sex == 1 %}
                                        Male
                                        {% else %}
                                        Female
                                        {% endif %}
                                    </td>
                                    <td>{{ vo.email }}</td>
                                    <td>{{ vo.addtime }}</td>
                                    <td>
                                        {% if vo.state == 1 %}
                                        Normal
                                        {% elif vo.state == 2 %}
                                        <font style="color: crimson;">Disabled</font>
                                        {% else %}
                                        <font style="color: darkviolet;">Administrator</font>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a style="text-decoration: none;"
                                            href="{% url 'backstage_users_resetpwd' vo.id %}"
                                            class='view-link'>Reset Password</a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a style="text-decoration: none;"
                                            href="{% url 'backstage_users_edit' vo.id %}"
                                            class='view-link'>Edit</a>
                                        &nbsp;&nbsp;&nbsp;
                                        <a style="text-decoration: none;"
                                            href="{% url 'backstage_users_del' vo.id %}"
                                            class='view-link' onclick="del()">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>
                                    {% if userslist.has_previous %}
                                    <font style="font-size: large;"><a style="text-decoration: none;"
                                            href="?page={{ userslist.previous_page_number }}{{ mywhere|join:'&' }}">&laquo;</a></font>
                                    {% else %}
                                    <font style="font-size: large;">&laquo;</font>
                                    {% endif %}

                                    {% for num in userslist.paginator.page_range %}
                                    {% if num == userslist.number %}
                                    <font style="font-size: large;">{{ num }}</font>
                                    {% else %}
                                    <font style="font-size: large;"><a style="text-decoration: none;"
                                            href="?page={{ num }}{{ mywhere|join:'&' }}">{{ num }}</a></font>
                                    {% endif %}
                                    {% endfor %}

                                    {% if userslist.has_next %}
                                    <font style="font-size: large;"><a style="text-decoration: none;"
                                            href="?page={{ userslist.next_page_number }}{{ mywhere|join:'&' }}">&raquo;</a></font>
                                    {% else %}
                                    <font style="font-size: large;">&raquo;</font>
                                    {% endif %}
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function del() {
        if (!confirm("Confirm to delete?")) {
            window.event.returnValue = false;
        }
    }
</script>
{% endblock%}